<!DOCTYPE html>
<html>
  <head>
    <title>CoinCase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
    <%= favicon_link_tag asset_path('favicon.png')%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
